body {
  margin: 0;
  padding: 0;
  background-image: url("../IMAZHE/student.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  padding: 10px;
  background-color: #32353d;
  border-bottom: 3px rgb(255, 111, 0) solid;
}

.header-img {
  width: 70px;
}

.header-text {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 2px 0px 4px black;
}

.title {
  font-size: 22px;
}

.subtitle {
  font-size: 16px;
}

.menu {
  margin-left: 872px;
}

.nav-shadow {
  width: 554px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 13px black;
  background-color: rgb(255, 111, 0);
  margin-top: -25px;
  margin-left: 6px;
}

.nav {
  list-style-type: none;
  display: flex;
  background-color: #333;
  width: 550px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  margin-top: -44px;
  padding-left: 0px;
}

li {
  margin-left: 10px;
  padding: 15px;
  color: white;
  font-size: 19px;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  margin-left: -15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(233, 129, 50, 0.548);
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.pyetje {
  width: 700px;
  height: 100vh;
  margin-top: -50px;
  margin-left: 100px;
  background-color: rgba(37, 34, 32, 0.5);
  z-index: -2;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  font-size: 16px;
  text-shadow: 2px 2px 4px black;
}

.collapsible:first-child {
  padding-top: 100px;
}

.content {
  color: white;
  padding: 18px 18px 18px 50px;
  border: none;
  text-align: left;
  font-size: 16px;
  text-shadow: 2px 2px 4px black;
  display: none;
  background-color: rgba(37, 34, 32, 0.4);
}

.ask {
  background-color: rgba(45, 43, 42, 0.7);
  width: 400px;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 2px 5px black;
  margin-left: 943px;
  margin-top: 59px;
  text-align: center;
  position: fixed;
}

.ask-titulli {
  font-size: 20px;
  text-shadow: 2px 0px 4px black;
  text-align: center;
}

.ask-teksti {
  font-size: 16px;
  text-shadow: 2px 0px 4px black;
}

.forma {
  margin-top: 20px;
}

#feedback {
  display: none;
}
